@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  height: 100%;
  width: 100%;
  font: 16px Montserrat;
  background: #FFFFFF url('https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/1122px-Wikipedia-logo-v2.svg.png') no-repeat fixed center;
  background-size: cover;
}
#page {
  height: 100%;
  width: 100%;
  color: #555555;
  background: rgba(255,255,255,0.5);
}
#random {
  padding: 5%;
}
#search-bar {
  position: relative;
  color: white;
}
input[name=search] {
  width: 50%;
  background: rgba(0,0,0,0.5);
}
#search-results {
  position: relative;
  background: rgba(255,255,255,0.9);
}
.result a{
  margin: 1%;
  color: #555555;
  text-decoration: none;
}
.result:hover {
  background: rgba(200,200,200,0.4);
  color: #555555;
  text-decoration: none;
}